
body {
  padding-top: 70px;
}

.mainmenu {
  position: fixed;top: 0;left:0;right:0;height: 50px;border-bottom: 1px solid rgba(0,0,0,0.15);padding:0;
}
.mainmenu ul {list-style: none;float: left;padding: 0;}
.mainmenu ul li{width:auto;display: inline;float:left;padding:0 15px;line-height: 50px;height:50px;cursor: pointer;border-right: 1px solid rgba(0,0,0,0.15)}
.mainmenu ul li a , .mainmenu ul li a:hover , .mainmenu ul li i{font-size: 25px;line-height: 50px;text-decoration: none;color:#555}

.mainmenu ul.right { float: right;padding: 0;}
.mainmenu ul.right li{ float: right;border-left: 1px solid rgba(0,0,0,0.15);border-right: none}

.btn , .form-control {border-radius: 0;}
.btn-xl {height:100px;line-height: 80px;}
.vrow {min-height:29vh;max-height: 90vh;height:auto;overflow-y: auto;border:1px solid rgba(0,0,0,0.1);padding:15px;}
.vrow.full {height:87vh;}
.timer {text-align: center;font-size: 66px;line-height: 20vh}

/*theme LIME*/
body[lime]  {
  background: #F0F4C3;
}
body[lime] .mainmenu , body[lime] .vrow {
  background: #F9FBE7;
}
body[lime] .mainmenu ul li , body[lime] .mainmenu ul li a ,body[lime] .mainmenu ul li i {color:#827717;}
body[lime] .accent{background: #F4FF81}
body[lime] .inverse {background: #403A0B;color:#F4FF81}






/*theme TEAL*/
body[teal] {
  background: #B2DFDB;
}
body[teal] .mainmenu {
  background: #E0F2F1;
}
body[teal] .mainmenu ul li , body[teal] .mainmenu ul li a ,body[teal] .mainmenu ul li i {color:#004D40;}
